[Unit]
Description=KeePassXC Secrets Service
After=network.target dbus.service
Requires=dbus.service

[Service]
ExecStart=/usr/bin/keepassxc-secretsd
Restart=always
Type=simple

[Install]
WantedBy=default.target
